
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonr{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.display-flex{
        display: flex
    }
.bg-gray{
        background-color: rgba(255, 144, 14, 0.1);
    }
.text-primary{
    color: #FF900E;
}
    /* dark-1 */
.light-gray{
        color: #131313;
    }
    /* dark-2 */
.text-gray{
        color: #424242;
    }
    /* dark-3 */
.text-light-gray{
        color: #727272;
    }
.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 24px;
    color: white;
    border: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.navbar{
    max-width: 1440px;
    margin: 0px auto;
}
/* banner style */
.banner-containt{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}
/* main style */
main{
    max-width: 1440px;
    margin: 0px auto;
}
main > section{
    margin-top: 130px;
}
/* ferchirs style */
.teams{
    align-items: center;
    gap: 73px;
}
.team-img-containar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    max-width: 537px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
    max-width: 467px;
}
#Quick-list{
    font-weight: 500;
}
.features-description{
    font-weight: 400;
    font-size: 1rem;
    max-width: 537px;
}
/* fact style */
.fact-crad{
    border: 1px solid #FF900E;
}
.facts-containar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-crad{
    width: 241px;
    height: 241px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}
.fact-number{
    font-weight: 600;
    font-size: 2.81rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
}
.fact-description{
    max-width: 542px;
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 100px;
}
.fact-title{
    font-weight: bold;
    font-size: 2.82rem;
    color: #131313;
    margin-bottom: 24px;
}
/* sponsor style */
.sponsor-info{
    max-width: 542px;
    margin: 0px auto;
    text-align: center;
}
.sponsor-title{
    font-weight: bold;
    font-size: 2.82rem;
    color: #131313;
    margin-bottom: 24px;
}
.sponsor-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 50px;
    margin-top: 24px;
}
.sponsor-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companis img{
    filter: grayscale(100%);
}
.sponsor-img{
    width: 180px;
    height: 50px;
}
/* architect style */
.features{
    gap: 100px;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding: 21px;
}
.feature-card{
    border-radius: 8px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    width: 514px;
}
.feature-btn{
    background-color: #FF900E;
    padding: 45px 42px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-title{
    font-weight: bold;
    font-size: 4rem;
    color: #FFFFFF;
}
.btn-sub{
    font-weight: 500;
    font-size: 1.56rem;
    color: #FFFFFF;
}















@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
    .teams{
        flex-direction: column-reverse;
    }
    .team-img-containar, .facts-containar, .sponsor-companis{
        grid-template-columns:1fr
    }
    .facts-containar, .sponsor-companis{
        gap: 24px;
    }
    .facts-containar, .sponsor-companis{
        justify-items: center;
    }
}






@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column-reverse;
    }
    .facts-containar, .sponsor-companis{
        grid-template-columns: repeat(2, 1fr);
       
    }
    .facts-containar, .sponsor-companis{
        gap: 24px;
    }
    .facts-containar, .sponsor-companis{
        justify-items: center;
    }

}